:root {
	--mainContainerColour: #567356;
	--titleBarColour: #354531;
	--subdivColour1: var(--mainContainerColour);
	--subdivColour2: #456747;
	--titleTextColour: #567356;
	--otherpalettercolourlol: #7d6750;
}

body {
	margin: 0;

	background-color: var(--mainContainerColour, slategrey);
}

#topBar {
	width: calc(100vw - 20px);
	height: 5vh;
	padding: 5px 10px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	position: fixed;
}

.roundIcons {
	width: 5vh;
	height: 5vh;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 100%;

	background-color: var(--subdivColour2, lightsteelblue);
}

#titleBar {
	width: 75%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50px;
	background-color: var(--titleBarColour, lightsteelblue);

	font-size: 2em;
	color: var(--titleTextColour, slategrey);
}

#sideBar {
	height: calc(95vh - 10px);
	width: 192px;

	position: absolute;
	top: calc(5vh + 10px);

	border-radius: 0 50px 50px 0;
	background-color: var(--otherpalettercolourlol);
}
