:root {
	--mainContainerColour: #567356;
	--titleBarColour: #354531;
	--subdivColour1: var(--mainContainerColour);
	--subdivColour2: #456747;
	--subdivColour3: #386252;
	--titleTextColour: #567356;
	--otherpalettercolourlol: #7d6750;
}

body {
	margin: 0;

	background-color: var(--mainContainerColour, slategrey);
}

#topBar {
	min-width: calc(100% - 20px);
	min-height: 5vh;
	padding: 5px 10px;

	z-index: 7;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	background-color: var(--mainContainerColour, slategrey);

	position: fixed;
}

.roundIcons {
	min-width: 5vh;
	min-height: 5vh;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 100%;

	background-color: var(--subdivColour2, lightsteelblue);
}

#titleBar {
	width: 75%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50px;
	background-color: var(--titleBarColour, lightsteelblue);

	font-size: 2em;
	color: var(--titleTextColour, slategrey);
}

#sideBar {
	height: calc(95vh - 10px);
	width: 192px;

	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	position: absolute;
	top: calc(5vh + 10px);

	border-radius: 0 30px 30px 0;
	background-color: var(--otherpalettercolourlol);
}

.sideElement {
	width: 95%;
	min-height: 150px;
	margin-top: 10px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 0 30px 30px 0;
	background-color: #656045;

	font-size: 2em;
	color: var(--titleBarColour);
}

#taskBar {
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	position: absolute;
	top: calc(5vh + 10px);
}

.taskElement {
	z-index: 2;
	width: 95vw;
	min-height: 150px;
	margin-top: 10px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 0 30px 30px 0;

	font-size: 2em;
	background-color: wheat;
}

#taskContainer {
	z-index: 3;
	width: 70vw;

	position: absolute;
	top: calc(5vh + 10px);
	right: 0;
}

.task {
	z-index: 3;
	width: calc(70vw - 15px);
	padding-left: 15px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	position: absolute;

	border-radius: 50px 0 0 50px;

	color: var(--titleBarColour);
	background-color: grey;
}

#newTaskDDMenu {
	position: fixed;
	top: 7%;
	right: 0%;
	padding: 2vw;
	/* transform: translate(-50%, -50%); */
	z-index: 12;
	background-color: #fff;
	max-width: 900px;
	width: 100%;
	border-radius: 5px 0 0 5px;
  }