:root {
	--mainContainerColour: #567356;
	--titleBarColour: #354531;
	--subdivColour1: var(--mainContainerColour);
	--subdivColour2: #456747;
	--titleTextColour: #567356;
	--otherpalettercolourlol: #7d6750;
}

html {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}

body {
	height: 100%;

	margin: 0;

	background-color: var(--mainContainerColour, slategrey);
}

#topBar {
	width: calc(100% - 20px);
	height: 5%;
	padding: 5px 10px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	position: fixed;
}

.roundIcons {
	width: 5vh;
	height: 5vh;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 100%;

	background-color: var(--subdivColour2, lightsteelblue);
}

#titleBar {
	width: 75%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50px;
	background-color: var(--titleBarColour, lightsteelblue);

	font-size: 2em;
	color: var(--titleTextColour, slategrey);
}

#sideBar {
	height: 95%;
	width: 100px;

	background-color: var(--otherpalettercolourlol);
}
