:root {
	--mainContainerColour: #567356;
	--titleBarColour: #354531;
	--subdivColour1: var(--mainContainerColour);
	--subdivColour2: #456747;
	--subdivColour3: #386252;
	--titleTextColour: #567356;
	--sideBarBackColour: #7d6750;
	--sideBarElementColour: #656045;

	--navHeight: 60px;
	--navIconSize: 50px;
}

* {
	box-sizing: border-box;
	font-size: small;
}

html {
	width: 100%;
	height: 100%;

	scrollbar-width: thin;
	scrollbar-color: var(--titleBarColour) transparent;
}

body {
	width: 100%;
	height: 100%;

	margin: 0;

	background-color: var(--mainContainerColour, slategrey);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--titleBarColour);
	border-radius: 50px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

@media (min-width: 768px) {
	* {
		font-size: medium;
	}
}

.blurred-window {
	z-index: 1;

	width: 100%;
	height: 100%;
	min-height: 300px;

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;

	backdrop-filter: blur(2px);

	overflow-y: auto;
}
